#logo-navbar {
	width: 130px;
	height: 50px;
}

.card-team-description {
	width: 500px;
	font-family: sans-serif;
	font-weight: 300;
	text-align: justify;
}

.card-team-container a {
	color: black !important;
}

.card-team-role {
	color: blueviolet !important;
}

* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	font-weight: 300;
	color: hsl(0 0% 15%);
}

.card-team-container h2 {
	font-weight: 400;
	margin: 2rem 0 0.25rem 0;
}

.card-team-container h1 {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	opacity: 0.5;
	margin: 0;
}

.card-team {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.card-team-figure {
	width: 500px;
	aspect-ratio: 8 / 5;
	--bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
	--accent: hsl(280 80% 40%);
	transition: background 0.2s;
	background: radial-gradient(
			circle at top left,
			var(--accent),
			transparent 75%
		),
		var(--bg);
	margin: 0;
	position: relative;
	overflow: hidden;
	border-radius: 1.5rem;
}

.card-team-figure:after {
	content: "";
	position: absolute;
	width: 20%;
	aspect-ratio: 1;
	border-radius: 50%;
	bottom: 0%;
	left: 10%;
	background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
	filter: blur(25px);
	transform: translateX(calc(var(--hover) * 15%))
		scale(calc(1 + (var(--hover) * 0.2)));
	transition: transform 0.2s, background 0.2s;
}

.card-team-figure img {
	position: absolute;
	left: 20%;
	top: 15%;
	width: 40%;
	transform: translateX(calc(var(--hover) * -15%))
		scale(calc(1 + (var(--hover) * 0.2)));
	transition: transform 0.2s;
}

.card-team-container {
	--hover: 0;
}

.card-team-container:hover {
	--hover: 1;
}
